{% extends "app/logged_in_base.html" %}
{% load i18n %}

{% block content %}
	{% load render_bundle from webpack_loader %}
	{% render_bundle 'Dashboard' attrs='async' %}

	<!--[if lte IE 8]>
		<div class="alert alert-warning alert-dismissible">
            本应用暂不支持IE 8系列浏览器。请更新 <a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx">Internet Explorer</a> 浏览器至最新版本或使用 <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>?
        </div>
	<![endif]-->

	{% if no_processingnodes %}
		<h3>{% trans '欢迎! ☺' %}</h3>
		{% trans '添加处理节点' as add_processing_node %}
		{% with nodeodm_link='<a href="https://github.com/pierotofy/node-OpenDroneMap" target="_blank">node-OpenDroneMap</a>' api_link='<a href="https://github.com/pierotofy/node-OpenDroneMap/blob/master/docs/index.adoc" target="_blank">API</a>' %}
			<p>
			{% blocktrans %} 
				请点击"{{ add_processing_node }}"添加处理节点。一个处理节点可以是一个运行{{ nodeodm_link }}实例的边缘计算节点或是实现{{ api_link }}的云计算中心的3D构建节点。
			{% endblocktrans %}
			</p>
		{% endwith %}
		<button class="btn btn-primary" onclick="location.href='{% url "admin:nodeodm_processingnode_add" %}';"><i class="fa fa-plus-circle"></i> {{ add_processing_node }}</button>
		
	{% else %}
		
		{% if no_tasks %}
			<h3>{% trans '欢迎! ☺' %}</h3>
			{% trans '选择图片及地面控制点' as upload_images %}
			<p>
				{% blocktrans %} 请点击"{{ upload_images }}"以构建3D模型及地图信息，或可以直接拖拽图片到某个项目中。 {% endblocktrans %}
			</p>
			<p>
				<ul>
					<li>{% trans '您需要至少5张图片' %}</li>
					<li>{% trans '图片至少需要有65%以上的重合度' %}</li>
					<li>{% trans '为了更好的3D体验，图片必须有83%以上的重合度' %}</li>
					<li>{% trans '可选择提供 <a href="https://github.com/OpenDroneMap/OpenDroneMap/wiki/Running-OpenDroneMap#running-odm-with-ground-control" target="_blank">地面控制点文件</a> 以提升地理坐标精度' %}</li>
				</ul>
			</p>
		{% endif %}

		<div id="dashboard-app" data-dashboard></div>

	{% endif %}
{% endblock %}
