{% extends "app/logged_in_base.html" %}
{% load i18n tz %}

{% block content %}

{% load render_bundle from webpack_loader %}
{% render_bundle 'Console' attrs='async' %}

<table class="table table-bordered table-striped table-first-col-bold processing-node-info">
	<tr>
		<td>{% trans "节点命名" %}</td>
		<td>{{ processing_node.hostname }}</td>
	</tr>
	<tr>
		<td>{% trans "端口" %}</td>
		<td>{{ processing_node.port }}</td>
	</tr>
	<tr>
		<td>{% trans "API 版本" %}</td>
		<td>{{ processing_node.api_version }}</td>
	</tr>
	<tr>
		<td>{% trans "队列计数" %}</td>
		<td>{{ processing_node.queue_count }}</td>
	</tr>
	<tr>
		<td>{% trans "上次更新于" %}</td>
		<td>{{ processing_node.last_refreshed|timesince }} {% trans '之前' %} ({{ processing_node.last_refreshed|localtime }})</td> <!-- TODO: timezone? -->
	</tr>
	<tr>
		<td>{% trans "选项 (JSON)" %}</td>
		<td><div data-console data-console-lang="js" data-console-height="300">{{ available_options_json}}</div></td>
	</tr>
</table>
{% if user.is_superuser %} 
<div class="text-center">
	<button class="btn btn-default" onclick="location.href='{% url "admin:nodeodm_processingnode_change" processing_node.id %}';"><i class="glyphicon glyphicon-pencil"></i> {% trans "编辑" %}</button>
	<button class="btn btn-danger" onclick="location.href='{% url "admin:nodeodm_processingnode_delete" processing_node.id  %}';"><i class="glyphicon glyphicon-trash"></i> {% trans "删除" %}</button>
</div>
{% endif %}

{% endblock %}
